<div id="<%= dom_id post_vote %>">
  <p>
    <strong>Value:</strong>
    <%= post_vote.value %>
  </p>

  <p>
    <strong>User:</strong>
    <%= post_vote.user_id %>
  </p>

  <p>
    <strong>Post:</strong>
    <%= post_vote.post_id %>
  </p>

</div>
