<h1>Editing post vote</h1>

<%= render "form", post_vote: @post_vote %>

<br>

<div>
  <%= link_to "Show this post vote", @post_vote %> |
  <%= link_to "Back to post votes", post_votes_path %>
</div>
