<h1>Editing user subscription</h1>

<%= render "form", user_subscription: @user_subscription %>

<br>

<div>
  <%= link_to "Show this user subscription", @user_subscription %> |
  <%= link_to "Back to user subscriptions", user_subscriptions_path %>
</div>
