<div id="<%= dom_id comment_vote %>">
  <p>
    <strong>Value:</strong>
    <%= comment_vote.value %>
  </p>

  <p>
    <strong>User:</strong>
    <%= comment_vote.user_id %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment_vote.comment_id %>
  </p>

</div>
