<h1>Editing comment vote</h1>

<%= render "form", comment_vote: @comment_vote %>

<br>

<div>
  <%= link_to "Show this comment vote", @comment_vote %> |
  <%= link_to "Back to comment votes", comment_votes_path %>
</div>
