<%if !@subreddit.nil? && @subreddit&.name != 'all' && @subreddit&.name != ''  %>
<div class="side">
  <h1> <%=@subreddit.name %></h1>
  <% if @subreddit.user_subscriptions.find_by(user:User.last)%>
    <%=render "shared/unsubscribe_button", subscription: @subreddit.user_subscriptions.find_by(user:User.last) %>
  <%else %>
    <%=render "shared/subscribe_button", subreddit: @subreddit %>
  <%end %>
  <div class="description" style="margin-top:30px;">
   <%=@subreddit.description %>
  </div>
</div>
<%else %>
<div class="side">
</div>
<%end %>
