<h1>Editing subreddit</h1>

<%= render "form", subreddit: @subreddit %>

<br>

<div>
  <%= link_to "Show this subreddit", @subreddit %> |
  <%= link_to "Back to subreddits", subreddits_path %>
</div>
